html, body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

.navbar{
  background-color: #1c1010;
  padding: 1% 0;
  font-size: 1.2em;

}
.row h4{
  font-size: 160%;
  font-weight: bolder;
}

.row h2{
  text-align: center;
}

.minimal{
  height: 30px;
  width: 44px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navbar-brand{
  min-height: 55px;
  padding: 0 15px 5px;
}

.navbar-brand img{
  max-height: 55px;
  float: left;
  display: inline;
}
.navbar-brand p{
  padding: 20px;
  font-size: 30px;
  color: #fff;
}

.navbar-brand p:hover{
color: #1c1010;
}
.navbar-default .navbar-nav li a {
  color: #e3e5e3
}

.navbar-default .navbar-nav li a: hower,.navbar-default .navbar-nav li a.active {
  color: #FFFFFF
}

#home {
  background: url(../img/Firstheader.jpg) no-repeat center center fixed;
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background-size: cover;
}

.landing-text{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #fff;
}

.landing-text h1{
  font-size: 500%;
  font-weight: 700;
}

.padding {
  padding: 80px 0;
}

.padding img {
 width: 100%;
}

#fixed {
  background: url(../img/background2.jpg) no-repeat center center fixed;
  display: table;
  height: 60%;
  width: 100%;
  position: relative;
  background-size: cover;
}

#center{
  text-align: center;
}

#gray-link{
  color: gray;
}

footer{
  width: 100%;
  background-color: #1c1010;
  padding:  3%;
  color: #FFFFFF
}

.fa{
  padding: 15px;
  font-size: 25px;
  color: #fff
}

.fa:hover{
  text-decoration: none;
}

.icon{
  max-width: 200px;

}
.thumbnail img {

}

.carousel-inner{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:640px;
  height:360px;
}

.hvrbox,
.hvrbox * {
	box-sizing: border-box;
}
.hvrbox {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}
.hvrbox img {
	max-width: 100%;
}
.hvrbox .hvrbox-layer_bottom {
	display: block;
}
.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 15px;

}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
	opacity: 1;
}
.hvrbox .hvrbox-text {
	text-align: center;
	font-size: 18px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
